*{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(253, 251, 251);
}

header {
  position: top;
  background-color: green;
  margin: 0;
  padding: 0;
  width: max-content;
}

#minha_foto{
  margin-top: 20px;
  border-radius: 25%;
  display:block;
  max-width: 50%;

}

 ul, ol{
  padding-left: 20px;
  margin-top: 10px;

  font-size: 15px;
}


article {
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 20px;
  margin-top: 20px;
  text-align: justify;
}
aside{
  margin-top: 30px;
}

nav {
  margin-top: 20px;
}
.lado-esquerdo {
display: inline-block;
}
.lado-direito {
display: inline-block;
}
table{
  color: black;
  padding: 5px;
  padding-left: 5px;
  margin-top: 20px;
  border-style: groove;
}